main {
    text-align: center;
}

button {
    margin: 10px auto;
    height: auto;
}

button img {
    width: 48px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: aliceblue;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 10px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.list section h2 {
    margin: 0;
    margin-left: 10px;
}

.list section p {
    margin-top: 0;
    margin-left: 2rem;
}

.bold {
    font-weight: bold;
    margin-bottom: 0;
}

#contact {
    margin-top: 0;
    margin-left: 5px;
}